*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.files
{
  position: relative;
  width: 100%;
  height: 99.9vh;
  display: flex;
  background: #fff;
}
.files ::before
{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(90deg,#fff1 0px,#fff1 1px,transparent 1px, transparent 10px ),
  repeating-linear-gradient(0deg,#fff1 0px,#fff1 1px, transparent 1px, transparent 10px );
  background-size: 10px 10px;
}

.files .card
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  transition: 0.5s ease-in-out;
  overflow: hidden;
}

.files .card:hover
{
  flex-grow: 3;
  background: #1a1a1a;
}

.files .card ion-icon
{
  font-size: 15vw;
  color: #1a1a1a;
  transition: 0.5s ease-in-out;
}

.files .card:hover ion-icon
{
  color: #04e8f8;
  font-size: 22vw;
  filter: drop-shadow(0 0 20px #1900ff)
  drop-shadow(0 0 40px #1800f1)
  drop-shadow(0 0 60px #1800f1)
  drop-shadow(0 0 90px #1800f1)
  drop-shadow(0 0 120px #1800f1);

}